.problemContainer{
    margin: 0 10vw;
    border-left: 2px solid #FFEFE3;
    border-right: 2px solid #FFEFE3;
}

.title{
    margin: 20px 0;
    height: 41px;
    font-family: 'Sansation';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 128%;
    color: #D97122;
    display: flex;
    justify-content: center;
}
.title img{
    height: 31px;
    margin: 0 10px;
}

.chakra{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 33vw;
    height: auto;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("https://github.com/abhishekdangi006/image/assets/76874880/f0bee314-17a3-491b-b284-7578f4756dea");
    background-size: cover;
}
.chakralogo{
    width: 33vw;
    height: auto;
    animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}


.problem{
    display: flex;
    flex-direction: column;
    margin:5% 0 0 2vw;
}
.problem2{
    display: flex;
    flex-direction: column;
    margin:5% 2vw 0 0;
}